*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.clear::after{
    content:"";
    clear: both;
    display: block;
}
.left{
   float: left; 
}
.right{
    float: right;
}
.header-1 {
    width: 1519px;
    height: 1265px;
    background-color: #f0e3d4;
}
nav{
    width: 100%;
    height: 80px;
}
label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 130px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
}
.checkbtn{
    font-size: 30px;
    
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
span{
 
}
.banar-title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-top: 77px;
}
.banar-text {
    text-align: center;
    font-size: 17px;
    margin-top: 35px;
    line-height: 35px;
    margin-bottom: 30px;
}
.btn-1{
    text-align: center;
}
.btn{
    text-align: center;
    height: 61px;
    border-radius: 5px;
    background:#FD6E0A;
    color:#FFFFFF ;
    font-size: 18px;
    border: 0;
    padding: 18px 30px;
}
img {
    width: 1440px;
    height: 713px;
    /* text-align: center; */
    margin-left: 38px;
    margin-top: 44px;
}

/* -----------style--------main-----section */
.main-img{
    width: 300px;
    height: 300px;
}
.team-img{
    width: 300px;
    height: 300px;
}
.main-1 {
    height: 730px;
    width: 1302px;
    /* border: 2px solid red; */
    text-align: center;
    margin-let: 213px;
    margin-top: 45px;
}
.main-2 {
    height: 700px;
    width: 700px;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: -42px;
    margin-left: 181px;
}
.main-3 {
    height: 367px;
    width: 400px;
    /* border: 2px solid red; */
    /* align-items: center; */
    margin-top: 226px;
}
.main-title {
    text-align: left;
    font-size: 25px;
    margin-bottom: 23px;
    font-weight: 700;
}
.main-title-1{
    color: #727272;
}
.main-title-2 {
    text-align: left;
    font-size: 25px;
    margin-bottom: 23px;
    color: #fd6e0a;
    font-weight: 700;
}
.main-text {
    text-align: left;
    line-height: 25px;
    margin-bottom: 34px;
}
.main-btn{
    text-align: left;
}

/* ------------style--feature--section----- */
.feature-section {
    height: 813px;
    width: 1216px;
    /* border: 2px solid red; */
}
.feature-text {
    height: 741px;
    width: 463px;
    /* border: 2px solid red; */
    margin-left: 205px;
}
.feature-img {
    height: 763px;
    width: 540px;
    /* border: 2px solid red; */
}
#feature-imge {
    width: 530px;
}
.vertical-line {
    border-left: 6px solid #fd6e0a;
    height: 87px;
    position: relative;
    top: 89px;
    margin-left: 22px;
}
.feature-title {
    font-size: 32px;
    font-weight: 700;
    margin-left: 46px;
}
.feature-section-text {
    font-size: 13px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 9px;
}
.feature-box {
    height: 131px;
    width: 460px;
    border: 2px solid rgb(245, 245, 237);
    margin-top: 13px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
.feature-title-1 {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 20px;
}
.feature-text-1 {
    margin-top: 18px;
    font-size: 13px;
    line-height: 24px;
    margin-left: 15px;
}
.btn-2 {
    margin-left: 667px;
    position: relative;
    bottom: 93px;
}
.btn-3 {
    text-align: center;
    height: 94px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-size: 18px;
    border: 0;
    padding: 9px 35px;
}
.span-btn {
    font-size: 33px;
    font-weight: 700;
}


@media screen and (max-width:675px){
    label.logo{
        font-size: 22px;
       
    }
    .checkbtn{
        display: block;
    }
    ul{
        position:fixed
        width:100%;
        height: 100vh;
        top:80px;
        left:0px;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
}


